<div class="row">
  <button class="btn btn-block btn-danger" [routerLink]="['/new']">Nuevo post</button>
  <div class="col-6">
    <label for="changeCategoria">Filtrar por categorias</label>
    <select name="changeCategoria" (change)="buscarCategoria($event)">
      <option value="todos">Todos</option>
      <option value="noticias">Noticias</option>
      <option value="conciertos">
        Conciertos
      </option>
      <option value="festivales">Festivales</option>
      <option value="lanzamientos">Lanzamientos</option>
      <option value="lifestyle">Lifestyle</option>
    </select>

  </div>

</div>
<div *ngFor="let post of this.impredPosts" class="row">
  <div class="newPost">
    <hr>
    <h2>{{post.titulo}}</h2>
    <img [src]="post.imagen" alt="">
    <h3>{{post.autor}}</h3>
    <h4>{{post.fecha | date: "MM/dd/yyyy"}}</h4>
    <p>{{post.texto}}</p>
  </div>
</div>
